.topbar {
    height: 5vh;
    width: 96vw;
    background-color: black;
    display: flex;
    .titleBar {
        height: 7vh;
        width: 20vw;
        background-color: black;
        display: flex;
        margin-top: 1vh;
        font-family: 'Dancing Script', cursive;
        font-family: 'Poor Story', cursive;
        font-size: large;
        font-family: 'Roboto', sans-serif;
        color: #CACADB;
        justify-content: center;
    }
    .timeBar {
        height: 5vh;
        width: 40vw;
        margin-left: 40vw;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        // .rs {
        //     margin-top: 1vh;
        // }
        .dateSpace {
            height: 5vh;
            font-size: large;
            width: 30vw;
            margin-top: 1vh;
            color: white;
            font-family: 'Dancing Script', cursive;
            font-family: 'Poor Story', cursive;
            font-family: 'Roboto', sans-serif;
            color: #CACADB;
        }
    }
}